modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
WP_SIMULATE = "true"

[userenv.shared]
JWT_SECRET = "a60458e711f9836765cc99ba0479a441150183291f3073be620ee4322b6b3d320707a7ea13eeed4547b939c678875e08"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_FROM_NAME = "Noehost"
SMTP_ENCRYPTION = "tls"
SERVER_HOSTNAME = "noehost.com"
ENCRYPTION_KEY = "85c7248771b95111543eb554d1eaaa88b6455508f431e22b5a5c66f24d333674"
ADMIN_LOGIN_SLUG = "noe"
