FORMAT: 1A
HOST: https://api.20i.com/

# 20i.com Reseller API

The 20i Reseller API gives you access to all the features and functionality of StackCP, allowing you to create a hosting control panel from scratch or integrate external services such as WHMCS. This is for advanced users and the support we provide for the Reseller API is service-based only.

Where a URL needs an ID, this is typically an ID that you would get in the list method, but for some types alternative references may be supported:

domain: The domain name
package: A domain name on the package
reseller: * to indicate yourself
In general you should use the allocated ID instead as that will be more reliable for cases like moving names between packages.

POSTs to approporiate endpoints can be either plain form (application/x-www-form-urlencoded or multipart/form-data) encoded as with PHP's http_build_query() or a JSON object (application/json).

For example, to add a new web site, a form-style request could look like this:

```
    POST /reseller/*/addWeb HTTP/1.1
    Host: api.20i.com
    Authorization: Bearer ZTRkNGZkMzFhNTJkY2FlMwo=
    Content-Type: application/x-www-form-urlencoded

    type=1234&domain_name=example.org&extra_domain_names[]=example.net&documentRoots[example.org]=public_html
```
Or in JSON:
```
    POST /reseller/*/addWeb HTTP/1.1
    Host: api.20i.com
    Authorization: Bearer ZTRkNGZkMzFhNTJkY2FlMwo=
    Content-Type: application/json

    {
      "type": "1234",
      "domain_name": "example.org",
      "extra_domain_names": ["example.net"],
      "documentRoots": {
        "example.org": "public_html"
      }
    }
```
Example Script: This PHP script is an example of how to just get code working and using the 20i Reseller API, download the [20i Module](https://my.20i.com/composer/api-modules-1.0.6.zip) and unzip the archive. Then create a test.php file with the following.  When you run this code your should see all your package types dumped to the output window.

```
    <?php

    include('lib/TwentyI/API/REST.php');
    include('lib/TwentyI/API/Services.php');

    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $packageTypes = $services_api->getWithFields("/reseller/*/packageTypes");
    trigger_error( print_r($packageTypes,true) );
```

# Group Domain Names



## Domain Periods [/domain-period]

### List domain periods [GET]

List all possible domains that are supported with the periods
that are supported for registration..

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/domain-period");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    (tld): [1]
                }
            


## Domain Premium Type [/domainPremiumType]

### Premium TLD Lookup [GET]

List all domain extentions with their associated premium group.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/domainPremiumType");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    (tld): "string"
                }
            


## Domain Search [/domain-search/{prefix_or_name}]

### Domain Search Lookup [GET]

Searches for one or more domain names. If you provide a domain name,
this will search for that name only, otherwise it will search for that
prefix on all supported TLDs. You may supply multiple literal domain
names if you separate them with commas.
You may supply arbitrary text, which will be stripped down to something
suitable for domain search. This is typically useful with suggestions
on.
Under some circumstances this will attempt a detailed search, which will
fetch more specific information about transferrable domains. This will
happen if you search for one domain name.
Domain Suggestions
Our primary domain availability provider supports suggesting names based
on the search, using simple semantic permutations of the supplied
name(s). For example if you're searching for mailboxdelivery.com it might
suggest post-delivery.com, mailboxsend.net and my-mailbox-delivery.com.
These are supported only in a small set of TLDs (including .com, .net,
.org, .info). These names are probably available, and will get properly
checked at the end of the results, meaning that you will get two results:
one marked "suggestion" and a later one which looks like a direct domain
search result.
At the current time, setting the TLDs to search is not supported. If a
domain is returned which you aren't set up to sell, you should exclude it
from your view.
Note on responsiveness and order
All results will be output at the earliest possible opportunity, and
will be delivered in separate packets with each result hash on a line on
its own. This means that the order will usually be different to the
header order, and the output will look a little different to typical
JSON responses.
Usage limits
Access to this service is subject to reasonable usage limits. If you go
over the limit, further access will be blocked for up to 24 hours.

------------------
--------------------------------
------------

------------------
--------------------------------
------------
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/domain-search/{prefix_or_name}");
```
+ Parameters

    + prefix_or_name: 1 (string, required) - FIXME



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    header:{
                        names: ["string"]
                    },
                    name: "string",
                    can: "string",
                    expiryDate: "string",
                    hasRight: "string",
                    maxYears: 1,
                    price: 1.99,
                    push_transfer_registrar: "string",
                    startsNewPeriod: true
                }
            ]


## Domain Verification [/domainVerification]

### Retrieve Domain Verification Status [GET]

Returns a list of all domains with their verification status.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/domainVerification");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    {
                        id: "string",
                        closeToAnniversary: true,
                        deadDate: "string",
                        expiryDate: "string",
                        name: "string",
                        hasPrivacy: true,
                        pendingTransfer: true,
                        registrantIsVerified: true,
                        registrantVerificationChecked: "string",
                        renewalConstraint:{
                        },
                        preferredRenewalMonths: 1
                    }
                }
            ]


## List Domains [/domain]

### Retrieve List of Domain Names [GET]

Returns basic information about the domain

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/domain");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    id: "string",
                    closeToAnniversary: true,
                    deadDate: "string",
                    expiryDate: "string",
                    name: "string",
                    hasPrivacy: true,
                    pendingTransfer: true,
                    registrantIsVerified: true,
                    registrantVerificationChecked: "string",
                    renewalConstraint:{
                    },
                    preferredRenewalMonths: 1
                }
            ]


# Group Managed VPS



## Activate/Deactivate managed vps [/managed_vps/{managedVpsId}/userStatus]

### Activate or deactivate [POST]

Activates or deactivates the service.
Possible subservice_name are 'default' for a typical set of services
and 'main' for the core service only.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/managed_vps/{managedVpsId}/userStatus", [
            "includeRepeated" => true,
            "subservices" => [
                "(subservice_name)" => true
            ]
    ]);
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.


+ Attributes

    + `includeRepeated` (boolean,required) - When reactivating, if true,this will revoke all your deactivations rather than
        just the current one.
    + `subservices` (object,required) - 
        - ``subservice_name`` (boolean,required) - True to enable, false to disable.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    includeRepeated: true,
                    subservices:{
                        (subservice_name): true
                    }
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Add Package [/managed_vps/{managedVpsId}/addWeb]

### Add a Package [POST]

Add a web site.
Supported arguments are:

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/managed_vps/{managedVpsId}/addWeb", [
            "domain_name" => "string",
            "extra_domain_names" => "string"
    ]);
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.


+ Attributes

    + `domain_name` (string,required) - The initial domain name for the site
    + `extra_domain_names` (string,required) - Array of zero or moreextra domain names
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    domain_name: "string",
                    extra_domain_names: "string"
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## Delete Package [/managed_vps/{managedVpsId}/deleteWeb]

### Delete a Package [POST]

Delete web sites.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/managed_vps/{managedVpsId}/deleteWeb", [
            "delete-id" => ["string"]
    ]);
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.


+ Attributes

    + `delete-id` (array[string],required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    delete-id: ["string"]
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## Get Managed VPS [/managed_vps/{managedVpsId}]

### Retrieve managed VPS [GET]

Returns an object representation of your managed VPS.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/managed_vps/{managedVpsId}");
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    cpanel: "string",
                    cpanelInfo: "string",
                    cpanelRebuilding: "string",
                    id: "string",
                    isCloud: true,
                    isManaged: true,
                    count: "string",
                    configuration:{
                        CpuCores: "string",
                        DataDiskSizeGb: "string",
                        ExternalNetwork: true,
                        InternalNetwork: true,
                        OsDiskSizeGb: "string",
                        RamMb: "string",
                        years: "string"
                    },
                    externalId: "string",
                    name: "string",
                    productSpec: "string",
                }
            


## Limits [/managed_vps/{managedVpsId}/limits]

### Get limits [POST]

Returns the count of how many packages can be created on this managed VPS.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/managed_vps/{managedVpsId}/limits");
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    count: 1
                }
            


## List Managed VPS [/managed_vps]

### Retrieve List of Managed VPS [GET]

Returns a short, cheap set of info for this item.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/managed_vps");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    id: "string",
                    count: 1,
                    name: "string",
                    packageIds: ["string"],
                    packages:{
                        {
                            id: 1,
                            enabled: true,
                            externalId: 1,
                            created: "string",
                            name: "string",
                            names: ["string"],
                            packageTypeName: "string",
                            packageTypePlatform: "string",
                            productSpec: "string",
                            stackUsers: ["string"],
                            typeRef: "string",
                            web:{
                                {
                                    id: "string",
                                    hasBackups: true,
                                    label: "string",
                                    name: "string",
                                    names: ["string"],
                                    platform: "string",
                                    setupComplete: true,
                                    typeRef: "string",
                                    hasSsl:{
                                        webName: true
                                    }
                                }
                            }
                        }
                    }
                }
            ]


## Managed VPS Profile [/managed_vps/{managedVpsId}/profile]

### Set a profile [POST]

Set the profile for this managed vps.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/managed_vps/{managedVpsId}/profile", [
            "profileId" => "string"
    ]);
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.


+ Attributes

    + `profileId` (string,required) - The profile id for the platform to use
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    profileId: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Managed VPS Profile [/managed_vps/{managedVpsId}/profileReset]

### Reset managed VPS profile [POST]

Reset the managed vps profile to default

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/managed_vps/{managedVpsId}/profileReset", [
    ]);
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.


+ Attributes

    
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Name [/managed_vps/{managedVpsId}/name]

### Retrieve VPS name [GET]

Returns the name of the Managed VPS.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/managed_vps/{managedVpsId}/name");
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                string
            


### Set VPS name [POST]

Set the VPS Name

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/managed_vps/{managedVpsId}/name", [
            "name" => "string"
    ]);
```
+ Parameters

    + managedVpsId: 1 (number, required) - The Managed VPS server ID retrieved from get managed vps.


+ Attributes

    + `name` (string,required) - The new VPS name
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    name: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


# Group MSSQL Databases



## Assign Database [/mssql/{mssqlId}/package]

### Assign an MSSQL Database to a Package [POST]

Set a package for this instance

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/mssql/{mssqlId}/package", [
            "packageId" => 1
    ]);
```
+ Parameters

    + mssqlId: 1 (number, required) - The MSSQL ID.


+ Attributes

    + `packageId` (number,required) - The Package Id to set on this MS SQL instance
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    packageId: 1
            }

+ Response 200 (application/json)

    + Body

            
                {
                    packageId: 1
                }
            


## List Databases [/mssql]

### Retrieve MSSQL Databases [GET]

Returns the following information.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/mssql");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    id: "string",
                    packageId: "string",
                    packageName: "string"
                }
            ]


## Retrieve Database [/mssql/{mssqlId}]

### Retrieve an MSSQL Database [GET]

Returns the following information.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/mssql/{mssqlId}");
```
+ Parameters

    + mssqlId: 1 (number, required) - The MSSQL ID.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    id: "string",
                }
            


# Group Cloud Servers



## Cancel Timeline Upgrade [/reseller/{resellerId}/cloudServerCancelTimelineUpgrade]

### Cancel the timeline upgrade [POST]

Cancel the timeline server upgrade for the given cloud server.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/cloudServerCancelTimelineUpgrade", [
            "serverId" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `serverId` (string,required) - The id of the server to add timeline storage upgrade to.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    serverId: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## List server providers [/reseller/{resellerId}/cloudProviders]

### Get cloud server providers [GET]

The "Get cloud server providers" API endpoint allows you to retrieve a list of all the cloud server providers available through the 20i API.
Cloud server providers offer virtualized infrastructure and resources for hosting applications and services.
By making a request to this endpoint, you can obtain a list of cloud server providers supported by 20i. The response will be an array of strings, where each string represents a cloud server provider.
Upon successful execution of the API call, the endpoint will return an array of strings representing the names or identifiers of the cloud server providers.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/reseller/{resellerId}/cloudProviders");
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                ["string"]
            


### Get cloud server specs and zones for provider [POST]

The "Get cloud server specs and zones for provider" API endpoint allows you to retrieve a list of cloud server specifications and zones offered by a specific cloud service provider through the 20i API.
Cloud server specifications define the configuration and capabilities of the servers, while zones refer to the geographic regions or locations where the cloud servers are available.
By making a request to this endpoint, you can obtain information about the cloud zones available for a particular cloud service provider.
The response will be an array where each key represents a cloud server specification name, and the corresponding value is an array of zones allowed for that specification.
The endpoint requires the following parameter in the request payload:
"provider" (string): Specifies the name or identifier of the cloud service provider for which you want to retrieve the cloud server specs and zones.
Upon successful execution of the API call, the endpoint will return an array where each key represents a cloud server specification name, and the corresponding value is an array of zones allowed for that specification.
It's important to note that this endpoint relies on the availability of the cloud service providers, and the list of providers can be obtained through the "Get cloud server providers" API endpoint.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/cloudProviders", [
            "provider" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `provider` (string,required) - The cloud service provider
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    provider: "string"
            }

+ Response 200 (application/json)

    + Body

            
            


## Order Cloud Server [/reseller/{resellerId}/addCloudServer]

### Order a Cloud Server [POST]

The "Order a Cloud Server" API endpoint allows you to order a cloud server from the specified provider. Cloud servers provide virtualized computing resources and are hosted in data centers across different locations.
To order a cloud server, you need to make a request to this API endpoint. The request payload should include the following parameters:
configuration: An object containing the configuration details for the cloud server. It includes the following parameters:
spec: The specification or type of the cloud server.
zone: The cloud server zone, which refers to the data center location (e.g., 'us-west-1').
bandwidth: The allocated bandwidth for the cloud server.
disk: The storage capacity of the cloud server.
mvpsName: The managed VPS name for the UI
optimisation: The server profile one of "Default", "WordPress", "Magento", "WooCommerce", "Laravel", "Joomla", "NetCore", "NodeJS"
periodMonths: The duration of the cloud server contract in months.
type: One of 'cloud-aws', 'cloud-gcp' or 'cloud-20i'.  If you are using cloud-20i but want your customer to see your own branded server in stack cp then set resellerCloudBranded to true
forUser: An optional parameter specifying the stack user tuple (e.g., 'stack-user:113') to whom the cloud server will be assigned.
Upon calling this API endpoint, the appropriate fee for the cloud server will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a string value representing the server ID if a contract was successfully created. If no contract was created, the response will be null.
Please note that this endpoint specifically handles the ordering of cloud servers from the specified provider. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.
Please see additional documentation for adding a cloud server via the API at https://docs.20i.com/api/managed-cloud-hosting-api-guide

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addCloudServer", [
            "configuration" => [
                "spec" => "string",
                "zone" => "string",
                "bandwidth" => "string",
                "disk" => "string",
                "mvpsName" => "string",
                "optimisation" => "string",
                "resellerCloudBranded" => true
            ],
            "periodMonths" => "string",
            "type" => "string",
            "forUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `spec` (string,required) - The spec of the cloud server
        - `zone` (string,required) - The cloud server zone is the DC location eg 'us-west-1'
        - `bandwidth` (string,required) - - Optional for AWS and GCP servers only
        - `disk` (string,required) - - Optional for AWS and GCP servers only
        - `mvpsName` (string,required) - - The managed VPS name for the UI
        - `optimisation` (string,required) - - The server profile one of "Default", "WordPress", "Magento", "WooCommerce", "Laravel", "Joomla", "NetCore", "NodeJS"
        - `resellerCloudBranded` (boolean,required) - True if the stack user should see this as a self branded cloud server
    + `periodMonths` (string,required) - 
    + `type` (string,required) - One of 'cloud-aws', 'cloud-gcp' or 'cloud-20i'.  If you are using cloud-20i but want your customer to see your own branded server in stack cp then set resellerCloudBranded to true
    + `forUser` (string,nullable) - Optional Stack user tuple eg `stack-user:113` If provided the server will be assigned to that stack user and will show in stackcp.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        spec: "string",
                        zone: "string",
                        bandwidth: "string",
                        disk: "string",
                        mvpsName: "string",
                        optimisation: "string",
                        resellerCloudBranded: true
                    },
                    periodMonths: "string",
                    type: "string",
                    forUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                string
            


## Renew Cloud Server [/reseller/{resellerId}/renewCloudServer]

### Renew Cloud Server [POST]

The "Renew Cloud Server" API endpoint allows you to renew an existing Cloud Server subscription with 20i. By making a request to this endpoint, you can extend the validity period of your Cloud Server service.
To renew a Cloud Server, you need to provide the following parameters in the request payload:
id: The ID of the Cloud Server that you want to renew.
periodMonths: The number of months for which you want to renew the Cloud Server subscription.
Upon calling this API endpoint, the appropriate fee for the Cloud Server renewal will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a boolean value indicating the success or failure of the renewal process. A value of true indicates that the renewal was successful, while false indicates a failure.
Please note that this endpoint specifically handles the renewal of Cloud Server subscriptions with 20i. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewCloudServer", [
            "id" => "string",
            "periodMonths" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
    + `periodMonths` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Server Product Specs [/reseller/{resellerId}/cloudServerProductData]

### Get cloud server product specifications [GET]

The "Get cloud server products" API endpoint allows you to retrieve a specification of all the cloud server products available within 20i.
By making a request to this endpoint, you can obtain a set of data that describes what specs are valid for all the different server types available.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/reseller/{resellerId}/cloudServerProductData");
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    provider:{
                        spec:{
                            detail:{
                                cpu:{
                                    uiLabel: "string"
                                },
                                ram:{
                                    uiLabel: "string"
                                },
                                disk:{
                                    range:{
                                        min: "string",
                                        max: "string"
                                    },
                                    uiLabel: "string"
                                },
                                diskAdditionalByZone:{
                                    *:{
                                        currency: "string"
                                    }
                                },
                                bandwidth:{
                                    uiLabel: "string"
                                },
                                bandwidthAdditionalByZone:{
                                    *:{
                                        currency: "string"
                                    }
                                },
                                yearlyDiscountByZone:{
                                    *:{
                                        currency: "string"
                                    }
                                },
                                priceByZone:{
                                    *:{
                                        currency: "string"
                                    }
                                },
                                zone:{
                                    options: ["string"]
                                },
                                provider:{
                                    options: ["string"]
                                },
                                country:{
                                    options: ["string"]
                                }
                            },
                            cta: "string",
                            uiLabel: "string",
                            specName: "string",
                            basketLabel: "string"
                        }
                    },
                }
            


## Timeline Upgrade Price [/reseller/{resellerId}/cloudServerAddTimelineUpgradePre]

### Get price for timeline upgrade [POST]

Returns the price of the timeline server upgrade

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/cloudServerAddTimelineUpgradePre", [
            "serverId" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `serverId` (string,required) - The id of the server to add timeline storage upgrade to.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    serverId: "string"
            }

+ Response 200 (application/json)

    + Body

            
                {
                    result: "string"
                }
            


## Timeline Upgrades [/reseller/{resellerId}/cloudServerAddTimelineUpgrade]

### Upgrade timeline storage [POST]

Adds the upgraded timeline storage to the cloud server.
It's important to note that this API endpoint will charge the appropriate fee to your 20i balance.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/cloudServerAddTimelineUpgrade", [
            "serverId" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `serverId` (string,required) - The id of the server to add timeline storage upgrade to.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    serverId: "string"
            }

+ Response 200 (application/json)

    + Body

            
                {
                    result: "string"
                }
            


## Upgrade Server [/reseller/{resellerId}/upgradeCloudServer]

### Upgrade a cloud server [POST]

Upgrade a cloud server to the given spec.
It's important to note that this API endpoint will charge the appropriate fee to your 20i balance.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/upgradeCloudServer", [
            "serverId" => "string",
            "configuration" => [
                "cpu" => 1,
                "disk" => 1,
                "ram" => 1,
                "zone" => "string",
                "spec" => "string"
            ]
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `serverId` (string,required) - 
    + `configuration` (object,required) - 
        - `cpu` (number,required) - Number of CPUs, e.g., 2.
        - `disk` (number,required) - Disk size in GB, e.g., 50.
        - `ram` (number,required) - RAM size in GB, e.g., 4.
        - `zone` (string,required) - The service zone, e.g., 'us-east-1'.
        - `spec` (string,required) - The service specification, e.g., 'medium'.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    serverId: "string",
                    configuration:{
                        cpu: 1,
                        disk: 1,
                        ram: 1,
                        zone: "string",
                        spec: "string"
                    }
            }

+ Response 200 (application/json)

    + Body

            
                {
                    result: true
                }
            


## Upgrade Server Price [/reseller/{resellerId}/upgradeCloudServerPre]

### Get cloud server upgrade price [POST]

Returns the price that would be charged for the given cloud server upgrade spec.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/upgradeCloudServerPre", [
            "serverId" => "string",
            "configuration" => [
                "cpu" => 1,
                "disk" => 1,
                "ram" => 1,
                "zone" => "string",
                "spec" => "string"
            ]
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `serverId` (string,required) - 
    + `configuration` (object,required) - 
        - `cpu` (number,required) - Number of CPUs, e.g., 2.
        - `disk` (number,required) - Disk size in GB, e.g., 50.
        - `ram` (number,required) - RAM size in GB, e.g., 4.
        - `zone` (string,required) - The service zone, e.g., 'us-east-1'.
        - `spec` (string,required) - The service specification, e.g., 'medium'.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    serverId: "string",
                    configuration:{
                        cpu: 1,
                        disk: 1,
                        ram: 1,
                        zone: "string",
                        spec: "string"
                    }
            }

+ Response 200 (application/json)

    + Body

            
                {
                    result: "string"
                }
            


# Group Order and Renew services



## Order Domain Name [/reseller/{resellerId}/addDomain]

### Register a Domain Name [POST]

The "Register a Domain Name" API endpoint allows you to register a new domain name through the 20i API.
This endpoint enables you to initiate the domain registration process and charge the appropriate registration fee to your 20i account balance.
To successfully register a domain name, you need to provide the following parameters in the request payload:
"name" (string): Specifies the domain name you want to register.
"years" (int): Specifies the number of years for which you want to register the domain.
"caRegistryAgreement" (bool|null): Indicates whether the registry agreements have been shown and agreed to.
"contact" (array): Contains contact information for the domain registration process. This includes details such as organization, name, address, telephone, email, etc.
"limits" (array|null): Provides a limit code to value map, which defines specific limits for the domain. These limits can be customized based on your requirements.
"otherContacts" (array|null): Allows you to specify additional contacts related to the domain registration process. This includes contact information for different types, such as administrative, technical, billing, etc.
"nameservers" (string[]|null): Specifies the nameserver hostnames for the domain. If not provided, default nameservers will be used.
"privacyService" (bool): Determines whether domain privacy service should be added to the order. Please note that this may not be applicable to all top-level domains (TLDs). Enabling domain privacy may incur additional charges.
"stackUser" (string|null): Specifies a stack user to grant access to the registered domain.
Upon successful execution of the API call, the endpoint will return a boolean value indicating the success or failure of the domain registration process.
Please note that this endpoint handles domain registration and utilizes the appropriate registration fees. It also supports the addition of domain privacy and the specification of additional contacts.
For more detailed information on the request and response structure, authentication, and other API-related details, please refer to the API documentation or additional documentation provided by 20i.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addDomain", [
            "name" => "string",
            "years" => 1,
            "caRegistryAgreement" => true,
            "contact" => [
                "organisation" => "string",
                "name" => "string",
                "address" => "string",
                "telephone" => "string",
                "email" => "string",
                "cc" => "string",
                "pc" => "string",
                "sp" => "string",
                "city" => "string",
                "extension" => [
                    "trad-name" => "string",
                    "type" => "string",
                    "co-no" => "string"
                ]
            ],
            "limits" => [
            ],
            "otherContacts" => [
                "(type)" => [
                    "name" => "string",
                    "organisation" => "string",
                    "address" => "string",
                    "city" => "string",
                    "sp" => "string",
                    "pc" => "string",
                    "cc" => "string",
                    "telephone" => "string",
                    "email" => "string",
                    "extension" => [
                    ]
                ]
            ],
            "nameservers" => ["string"],
            "privacyService" => true,
            "stackUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `name` (string,required) - The domain name
    + `years` (number,required) - 
    + `caRegistryAgreement` (boolean,nullable) - If registry agreementshave been shown and agreed to
    + `contact` (object,required) - This is slightly different from updating domain
        contacts, as noted.
        - `organisation` (string,required) - As $org when updatingdomain contacts
        - `name` (string,required) - As updating domain contacts
        - `address` (string,required) - Newline-separated lines withpossible trailling commas. At most 3 lines are
            allowed.
        - `telephone` (string,required) - As $voice when updatingdomain contacts
        - `email` (string,required) - As updating domain contacts
        - `cc` (string,required) - As updating domain contacts
        - `pc` (string,required) - As updating domain contacts
        - `sp` (string,nullable) - As updating domain contacts
        - `city` (string,required) - As updating domain contacts
        - `extension` (object,nullable) - 
            - `trad-name` (string,nullable) - (UK domains) For organisations with a separate trading name, it should be included here.
            - `type` (string,nullable) - (UK domains) The Nominet registrant type
            - `co-no` (string,nullable) - (UK domains) For companies, the company number}
    + `limits` (object,nullable) - A limit code to value map, see domain limits
    + `otherContacts` (object,nullable) - 
        - ``type`` (object,required) - These may be ignored for some transfers.
            - `name` (string,required) - 
            - `organisation` (string,required) - 
            - `address` (string,required) - Newline-separated lines withpossible trailling commas. At most 3 lines are
                allowed.
            - `city` (string,required) - 
            - `sp` (string,required) - 
            - `pc` (string,required) - 
            - `cc` (string,required) - Country in ISO3166-alpha2 format
            - `telephone` (string,required) - 
            - `email` (string,required) - 
            - `extension` (object,nullable) - As updating domain contacts
    + `nameservers` (array[string],nullable) - Nameserver hostnames, eg "ns.example.org". Otherwise you
        get defaults.
        Ignored for UK transfers.
    + `privacyService` (boolean,required) - If true, this will add domain privacy toyour order. This may not be applicable to some TLDs. Please
        note that for .UK this is a chargeable service which is
        different from turning off disclosure.
    + `stackUser` (string,nullable) - A stack user to grant access to, eg."stack-user:123"
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    name: "string",
                    years: 1,
                    caRegistryAgreement: true,
                    contact:{
                        organisation: "string",
                        name: "string",
                        address: "string",
                        telephone: "string",
                        email: "string",
                        cc: "string",
                        pc: "string",
                        sp: "string",
                        city: "string",
                        extension:{
                            trad-name: "string",
                            type: "string",
                            co-no: "string"
                        }
                    },
                    limits:{
                    },
                    otherContacts:{
                        (type):{
                            name: "string",
                            organisation: "string",
                            address: "string",
                            city: "string",
                            sp: "string",
                            pc: "string",
                            cc: "string",
                            telephone: "string",
                            email: "string",
                            extension:{
                            }
                        }
                    },
                    nameservers: ["string"],
                    privacyService: true,
                    stackUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order Managed VPS [/reseller/{resellerId}/addManagedVps]

### Order a Managed VPS [POST]

The "Order a Managed VPS" API endpoint allows you to order a managed virtual private server (VPS) from 20i. Managed VPSs provide virtualized computing resources with additional management and support services.
To order a managed VPS, you need to make a request to this API endpoint. The request payload should include the following parameters:
configuration: An object containing the configuration details for the managed VPS. It includes the following parameters:
Name: The name of the managed VPS.
ApplicationId: The application ID associated with the managed VPS.
location: The location or data center where the managed VPS will be provisioned.
options: Additional options for the managed VPS order.
os: The operating system to be installed on the managed VPS.
periodMonths: The duration of the managed VPS contract, specified as either 1 for monthly or 12 for yearly.
productSpec: The product specification for the managed VPS. The specific value format (web-managedvps1set1) mentioned in the documentation may need further clarification or correction.
forUser: An optional parameter specifying the stack user tuple (e.g., 'stack-user:113') to whom the managed VPS will be assigned.
Upon calling this API endpoint, the appropriate fee for the managed VPS will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a string value representing the ID of the managed VPS if a contract was successfully created. If no contract was created, the response will be null.
Please note that this endpoint specifically handles the ordering of managed VPSs from 20i. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addManagedVps", [
            "configuration" => [
                "Name" => "string",
                "ApplicationId" => "string",
                "location" => "string"
            ],
            "options" => [
                "os" => "string"
            ],
            "periodMonths" => "string",
            "productSpec" => "string",
            "forUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `Name` (string,required) - 
        - `ApplicationId` (string,required) - 
        - `location` (string,required) - 
    + `options` (object,required) - 
        - `os` (string,required) - 
    + `periodMonths` (string,required) - Either 1 for monthly or 12 for yearly
    + `productSpec` (string,required) - eg  => web-managedvps1set1
    + `forUser` (string,nullable) - eg stack-user:113
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        Name: "string",
                        ApplicationId: "string",
                        location: "string"
                    },
                    options:{
                        os: "string"
                    },
                    periodMonths: "string",
                    productSpec: "string",
                    forUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order MSSQL Databases [/reseller/{resellerId}/addMssql]

### Order an MSSQL Database [POST]

The "Order an MSSQL Database" API endpoint allows you to add an MS SQL Server allowance to your 20i account. This allowance can be later assigned to a hosting package, making it available for use within that package.
To order an MSSQL database, you need to make a request to this API endpoint. The request payload does not require any specific parameters, as indicated by the "@empty" tag in the API documentation block.
Upon calling this API endpoint, the appropriate fee for the MSSQL database allowance will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
After successfully ordering the MSSQL database allowance, you will need to assign it to a hosting package.
This allocation process allows you to link the MSSQL database allowance to a specific hosting package, enabling you to utilize the database within that package.
The API call returns a boolean value indicating the success or failure of the MSSQL database order process.
Please note that this endpoint specifically handles the ordering of MSSQL databases allowances.
It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addMssql", [
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order Premium Mailbox [/reseller/{resellerId}/addPremiumMailbox]

### Order Premium Mailbox [POST]

The "Order Premium Mailbox" API endpoint allows you to order a premium mailbox from 20i. Premium mailboxes provide enhanced features and capabilities compared to standard mailboxes.
To order a premium mailbox, you need to make a request to this API endpoint. The request payload should include the following parameters:
configuration: An object containing the configuration details for the premium mailbox. It includes the following parameters:
id: The mailbox ID, such as "m11111".
local: The local part of the mailbox address that comes before the '@' symbol.
domain: The domain part of the mailbox address that comes after the '@' symbol.
forUser: An optional parameter specifying the user to whom the premium mailbox will be assigned.
Upon calling this API endpoint, the appropriate fee for the premium mailbox will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a string value representing the ID of the premium mailbox if a contract was successfully created. If no contract was created, the response will be null.
Please note that this endpoint specifically handles the ordering of premium mailboxes from 20i. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addPremiumMailbox", [
            "configuration" => [
                "id" => "string",
                "local" => "string",
                "domain" => "string"
            ],
            "forUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `id` (string,required) - The mailbox ID eg "m11111"
        - `local` (string,required) - The local mailbox part that comes before the '@'
        - `domain` (string,required) - The domain part that comes after the '@'
    + `forUser` (string,nullable) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        id: "string",
                        local: "string",
                        domain: "string"
                    },
                    forUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                string
            


## Order SSL Certificates [/reseller/{resellerId}/addTlsCertificate]

### Order an SSL Certificate [POST]

The "Order an SSL Certificate" API endpoint allows you to order a TLS (Transport Layer Security) certificate for a specific site.
TLS certificates are used to secure website connections and enable encrypted communication between the server and the client.
To order an SSL certificate, you need to make a request to this API endpoint. The request payload should include the following parameters:
periodMonths: An integer value representing the duration of the certificate validity in months (e.g., 1, 3, or 12).
name: An undocumented parameter that likely refers to the name or identifier of the SSL certificate.
configuration: An object containing additional configuration details for the SSL certificate. The specifics of this configuration object are not provided in the API documentation.
productSpec: The TLS Certificate product specificate. This is a string prefixed with "tucows-" then the certificate type appended to it, which will be one of:
Upon calling this API endpoint, the appropriate fee for the SSL certificate will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a boolean value indicating the success or failure of the SSL certificate order process.
Please note that this endpoint specifically handles the ordering of SSL certificates for your site. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addTlsCertificate", [
            "periodMonths" => 1,
            "name" => "string",
            "configuration" => [
            ]
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `periodMonths` (number,required) - eg. 1, 3, or 12
    + `name` (string,required) - UNDOCUMENTED
    + `configuration` (object,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    periodMonths: 1,
                    name: "string",
                    configuration:{
                    }
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order VPS [/reseller/{resellerId}/addVPS]

### Order a VPS [POST]

The "Order a VPS" API endpoint allows you to order a new VPS (Virtual Private Server) through the 20i API.
A VPS is a virtualized server that provides dedicated resources and isolated environment for hosting applications and websites.
To place an order for a VPS, you need to provide the necessary parameters in the request payload. The parameters include:
"configuration" (array):
"ApplicationId" (string or null): An optional parameter that specifies the application ID.
"Name" (string): The name or identifier for the VPS, such as "vps-1234".
"location" (string or null): The VPS location eg "dc_location-lhr" or "dc_location-dfw"
"forUser" (string or null): An optional parameter that allows you to associate the VPS with a specific user. It uses the format "stack-user:{user-id}".
"options" (array):
"os" (string): Specifies the operating system for the VPS. The value should be a code representing the desired OS, such as "rhel6". The choice of OS may affect the price.
"periodMonths" (integer): Specifies the duration of the VPS order in months.
"type" (string): Specifies the type of VPS to be ordered, such as "vps-e".
"cpanel" (string): Optional, if provided this will order and add cpanel to the server either null or "cpaneladmin", "cpanelplus", "cpanelpro", "cpanelpremier", "cpanelpremiercloud"
Upon successful execution of the API call, the endpoint will return a boolean value or a string ID. If possible, the returned value will be an ID associated with the newly ordered VPS. It's important to note that the appropriate fee for the VPS order will be charged to your 20i Balance. If there are insufficient funds in your balance, the order will fail.
This will *charge the appropriate fee* to your 20i Balance. If you don't
have enough left, this will fail.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addVPS", [
            "configuration" => [
                "ApplicationId" => "string",
                "Name" => "string",
                "location" => "string"
            ],
            "forUser" => "string",
            "options" => [
                "os" => "string"
            ],
            "periodMonths" => 1,
            "type" => "string",
            "cpanel" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `ApplicationId` (string,nullable) - 
        - `Name` (string,required) - eg. "vps-1234"
        - `location` (string,nullable) - The VPS location eg "dc_location-lhr" or "dc_location-dfw"
    + `forUser` (string,nullable) - eg. "stack-user:588"
    + `options` (object,required) - 
        - `os` (string,required) - eg. "rhel6". Some of these affect the price.
    + `periodMonths` (number,required) - 
    + `type` (string,required) - eg. "vps-e"
    + `cpanel` (string,nullable) - Optional - If not null this will order and add cpanel to the server
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        ApplicationId: "string",
                        Name: "string",
                        location: "string"
                    },
                    forUser: "string",
                    options:{
                        os: "string"
                    },
                    periodMonths: 1,
                    type: "string",
                    cpanel: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order Website Turbo Credits [/reseller/{resellerId}/addWebsiteTurboCredits]

### Order Credits [POST]

Order new website turbo credits

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addWebsiteTurboCredits", [
            "quantity" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `quantity` (string,required) - The quantity of website turbo credits to order.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    quantity: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew Managed VPS [/reseller/{resellerId}/renewManagedVPS]

### Renew Managed VPS [POST]

The "Renew Managed VPS" API endpoint allows you to renew an existing Managed VPS subscription with 20i. By making a request to this endpoint, you can extend the validity period of your Managed VPS service.
To renew a Managed VPS, you need to provide the following parameters in the request payload:
id: The ID of the Managed VPS that you want to renew.
periodMonths: The number of months for which you want to renew the Managed VPS subscription.
Upon calling this API endpoint, the appropriate fee for the Managed VPS renewal will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a boolean value indicating the success or failure of the renewal process. A value of true indicates that the renewal was successful, while false indicates a failure.
Please note that this endpoint specifically handles the renewal of Managed VPS subscriptions with 20i. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewManagedVPS", [
            "id" => "string",
            "periodMonths" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
    + `periodMonths` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew MSSQL Databases [/reseller/{resellerId}/renewMssql]

### Renew an MSSQL database [POST]

The "Renew MSSQL Databases" API endpoint allows you to renew an MSSQL database by providing its ID. This API call is used to extend the validity or registration of an existing MSSQL database.
To renew an MSSQL database, you need to provide the following parameter in the request payload:
id: The ID of the MSSQL database that you want to renew.
Upon successful execution of the API call, the response will return a boolean value indicating the success of the renewal operation. The value true indicates that the MSSQL database was successfully renewed.
Please note that this API endpoint is designed for renewing MSSQL databases with 20i. It handles the renewal process by charging the appropriate fees and verifying the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewMssql", [
            "id" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew Premium Mailbox [/reseller/{resellerId}/renewPremiumMailbox]

### Renew Premium Mailbox [POST]

The "Renew Premium Mailbox" API endpoint allows you to renew an existing Premium Mailbox subscription with 20i. By making a request to this endpoint, you can extend the validity period of your Premium Mailbox service.
To renew a Premium Mailbox, you need to provide the following parameter in the request payload:
id: The ID of the Premium Mailbox that you want to renew.
Upon calling this API endpoint, the appropriate fee for the Premium Mailbox renewal will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a boolean value indicating the success or failure of the renewal process. A value of true indicates that the renewal was successful, while false indicates a failure.
Please note that this endpoint specifically handles the renewal of Premium Mailbox subscriptions with 20i. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewPremiumMailbox", [
            "id" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew SSL Certificates [/reseller/{resellerId}/renewTlsCertificate]

### Renew an SSL Certificate [POST]

Renew a certificate.
The "Renew an SSL Certificate" API endpoint allows you to renew an SSL certificate in your 20i account. This API call is used to extend the validity or registration of an existing SSL certificate.
To renew an SSL certificate, you need to provide the following parameters in the request payload:
id: The ID of the SSL certificate that you want to renew.
periodMonths: The number of months for which you want to renew the SSL certificate.
Upon successful execution of the API call, the response will return a boolean value indicating the success of the renewal operation. The value true indicates that the SSL certificate was successfully renewed.
Please note that this API endpoint handles the renewal process by charging the appropriate fee to your 20i Balance.
It checks if you have sufficient funds in your account, and if not, the renewal process will fail. Therefore, it is important to ensure that you have enough balance in your 20i account before making the API call to renew an SSL certificate.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewTlsCertificate", [
            "id" => "string",
            "periodMonths" => 1
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
    + `periodMonths` (number,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: 1
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew VPS [/reseller/{resellerId}/renewVPS]

### Renew VPS [POST]

The "Renew VPS" API endpoint allows you to renew an existing VPS (Virtual Private Server) subscription with 20i. By making a request to this endpoint, you can extend the validity period of your VPS service.
To renew a VPS, you need to provide the following parameters in the request payload:
id: The ID of the VPS that you want to renew.
periodMonths: The number of months for which you want to renew the VPS subscription.
Upon calling this API endpoint, the appropriate fee for the VPS renewal will be charged to your 20i account balance. If your account balance does not have sufficient funds, the operation will fail.
The API call returns a boolean value indicating the success or failure of the renewal process. A value of true indicates that the renewal was successful, while false indicates a failure.
Please note that this endpoint specifically handles the renewal of VPS subscriptions with 20i. It ensures that the appropriate fees are charged and verifies the availability of funds in your 20i account.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewVPS", [
            "id" => "string",
            "periodMonths" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
    + `periodMonths` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


# Group Packages



## Activate/Deactivate domain [/package/{packageId}/domain/{domainId}/userStatus]

### Activate or deactivate [POST]

Activates or deactivates the service.
Possible subservice_name are 'default' for a typical set of services
and 'main' for the core service only.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/userStatus", [
            "includeRepeated" => true,
            "subservices" => [
                "(subservice_name)" => true
            ]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    + `includeRepeated` (boolean,required) - When reactivating, if true,this will revoke all your deactivations rather than
        just the current one.
    + `subservices` (object,required) - 
        - ``subservice_name`` (boolean,required) - True to enable, false to disable.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    includeRepeated: true,
                    subservices:{
                        (subservice_name): true
                    }
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Activate/Deactivate package [/package/{packageId}/userStatus]

### Activate or deactivate [POST]

Activates or deactivates the service.
Possible subservice_name are 'default' for a typical set of services
and 'main' for the core service only.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/userStatus", [
            "includeRepeated" => true,
            "subservices" => [
                "(subservice_name)" => true
            ]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `includeRepeated` (boolean,required) - When reactivating, if true,this will revoke all your deactivations rather than
        just the current one.
    + `subservices` (object,required) - 
        - ``subservice_name`` (boolean,required) - True to enable, false to disable.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    includeRepeated: true,
                    subservices:{
                        (subservice_name): true
                    }
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Applications [/package/{packageId}/web/installedApplications]

### Retrieve List of Installed Applications [GET]

Return a list of installed applications

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/installedApplications");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    id: "string",
                    mode: "string",
                    path: "string",
                    protocol: "string",
                    script: "string",
                    typeCode: "string"
                }
            ]


### Add, Remove, or Update an Application [POST]

Add, remove and update applications and set their environment
Currently only one type (add,update,delete,setEnv) is supported per request.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/installedApplications", [
            "add" => [
                "domain" => "string",
                "environment" => "string",
                "name" => "string",
                "path" => "string",
                "script" => "string",
                "typeCode" => "string"
            ],
            "update" => [
                "domain" => "string",
                "environment" => "string",
                "name" => "string",
                "path" => "string",
                "script" => "string",
                "typeCode" => "string"
            ],
            "delete" => [
                "id" => "string"
            ],
            "setEnv" => [
                "id" => "string",
                "environment" => "string"
            ]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `add` (object,nullable) - 
        - `domain` (string,required) - 
        - `environment` (string,required) - 
        - `name` (string,required) - 
        - `path` (string,required) - 
        - `script` (string,required) - 
        - `typeCode` (string,required) - 
    + `update` (object,nullable) - 
        - `domain` (string,required) - 
        - `environment` (string,required) - 
        - `name` (string,required) - 
        - `path` (string,required) - 
        - `script` (string,required) - 
        - `typeCode` (string,required) - 
    + `delete` (object,nullable) - 
        - `id` (string,required) - The application ID to delete
    + `setEnv` (object,nullable) - 
        - `id` (string,required) - 
        - `environment` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    add:{
                        domain: "string",
                        environment: "string",
                        name: "string",
                        path: "string",
                        script: "string",
                        typeCode: "string"
                    },
                    update:{
                        domain: "string",
                        environment: "string",
                        name: "string",
                        path: "string",
                        script: "string",
                        typeCode: "string"
                    },
                    delete:{
                        id: "string"
                    },
                    setEnv:{
                        id: "string",
                        environment: "string"
                    }
            }

+ Response 200 (application/json)

    + Body

            
                {}
            


## Applications [/package/{packageId}/web/installedSoftware]

### Retrieve Installed Applications by Type Code [GET]

Returns a list of installed software by type code on managed server.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/installedSoftware");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                ["string"]
            


## Autoresponders [/package/{packageId}/email/{emailId}/responder]

### Retrieve Autoresponder Configuration [GET]

Returns the current autoresponder config.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/email/{emailId}/responder");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + emailId: 1 (number, required) - The Email ID.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    name: "string",
                }
            


## Bandwidth [/package/{packageId}/web/bandwidthStats]

### Retrieve Bandwidth Statistics [GET]

Get the bandwidth stats and hits.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/bandwidthStats");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    ...$type:{
                        period: "string",
                        hits: 1,
                        bandwidth: 1
                    }
                }
            


## Block Countries [/package/{packageId}/web/blockedCountries]

### Retrieve Blocked Countries [GET]

Get blocked countries, in the format of 2-digit ISO codes.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/blockedCountries");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    type: "string"
                }
            


### Set blocked countries [POST]

Set the blocked countries for the site.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/blockedCountries", [
            "access" => "string",
            "countries" => ["string"]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `access` (string,required) - 
    + `countries` (array[string],required) - An array of country codes inISO 3166 format.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    access: "string",
                    countries: ["string"]
            }

+ Response 200 (application/json)

    + Body

            
            


## Block IP [/package/{packageId}/web/blockedIpAddresses]

### Retrieve Blocked IP Addresses [GET]

Get blocked IP addresses either in standard format or in CIDR format.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/blockedIpAddresses");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                ["string"]
            


### Set Blocked IP Addresses [POST]

Set the blocked IP addresses for the web|package. This is an array
of IP addresses, with an optional CIDR range.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/blockedIpAddresses", [
            "ip_addresses" => ["string"]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `ip_addresses` (array[string],nullable) - An array of IP addresses, or omitto remove all blocked addresses.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    ip_addresses: ["string"]
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## CDN Add Features [/package/{packageId}/web/addCdnFeature]

### Add CDN feature [POST]



```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/addCdnFeature", [
            "feature" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `feature` (string,required) - The feature string
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    feature: "string"
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## CDN Bulk Add Features [/package/{packageId}/web/bulkAddCdnFeature]

### Bulk Add CDN feature [POST]



```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/bulkAddCdnFeature", [
            "features" => ["string"]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `features` (array[string],required) - An array of feature strings
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    features: ["string"]
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## CDN Cache Report [/package/{packageId}/web/cacheReport]

### Retrieve CDN Cache Report [GET]

Get cache report for this web.  Only available if the package has website turbo assigned

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/cacheReport");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    url: "string",
                    contentType: "string",
                    isCacheable: "string",
                    lastCached: "string",
                    nocacheHttpErr: true,
                    nocacheScheme: true,
                    nocacheSetCookie: true,
                    nocacheCacheControl: true,
                    nocachePragmaNoCache: true,
                    nocacheExpiresPast: true,
                    nocacheVary: true
                }
            ]


## CDN Delete Security Header [/package/{packageId}/web/deleteCdnSecurityHeader]

### Delete security header [POST]

Delete security header for a web object

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/deleteCdnSecurityHeader", [
            "headerId" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `headerId` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    headerId: "string"
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## CDN Delete Security Headers [/package/{packageId}/web/deleteCdnSecurityHeaders]

### Delete all security headers [POST]

Delete all security headers for a web object

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/deleteCdnSecurityHeaders", [
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## CDN Get Feature Group [/package/{packageId}/web/cdnFeatureGroups]

### Get CDN feature groups [GET]

Get an array of feature groups

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/cdnFeatureGroups");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    CdnFeatureGroupId: 1,
                    FeatureGroup: "string",
                    DisplayName: "string",
                    Members: "string",
                    Owner: "string",
                    Comments: "string"
                }
            ]


## CDN Get Features [/package/{packageId}/web/cdnOptions]

### Get a list all CDN features [GET]



```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/cdnOptions");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    CdnFeatureId: 1,
                    Feature: "string",
                    DisplayName: "string",
                    Description: "string",
                    RiskLevel: "string",
                    OptimisationClass: "string",
                    InputType: "string",
                    ImpliesFilters: "string",
                    FeatureGroups: "string",
                    Enabled: true
                }
            ]


## CDN Get Security Headers [/package/{packageId}/web/cdnSecurityHeaders]

### Get security headers [GET]

Get an array of security headers for a web object

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/cdnSecurityHeaders");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    VirtualHostHeaderId: 1,
                    Name: "string",
                    Value: "string"
                }
            ]


## CDN Manage [/package/{packageId}/web/manageCdn]

### Manage CDN [POST]

Enable, disable or purge the CDN cache

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/manageCdn", [
            "action" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `action` (string,required) - - One of 'enable', 'disable' or 'purge'
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    action: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## CDN Purge Cache [/package/{packageId}/web/purgeCdnByUrl]

### Purge CDN cache [POST]

Purge the CDN cache for this web object

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/purgeCdnByUrl", [
            "path" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `path` (string,nullable) - The path to purge or "all" *default
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    path: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## CDN Stats [/package/{packageId}/web/cdnStats]

### Retrieve CDN Statistics [GET]

Returns the CDN statistics for the package.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/cdnStats");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    result:{
                        Last12Months:{
                        },
                        Last24Hours:{
                        },
                        Last30Days:{
                        }
                    }
                }
            


## CDN Stats by Country [/package/{packageId}/web/cdnStatsTrafficDistribution]

### Retrieve CDN Distribution Statistics [POST]

Shows bandwidth and hits split by country as recorded by our edge CDN platform

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/cdnStatsTrafficDistribution", [
            "period" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `period` (string,required) - - "Last1Hour", "Last24Hours", "Last7Days"
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    period: "string"
            }

+ Response 200 (application/json)

    + Body

            
            


## CDN Update Headers [/package/{packageId}/web/updateCdnSecurityHeaders]

### Update security headers [POST]



```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/updateCdnSecurityHeaders", [
            "name" => "string",
            "id" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `in` (array[object],required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    name: "string",
                    id: "string"
            }

+ Response 200 (application/json)

    + Body

            [
                {
                    VirtualHostHeaderId: 1,
                    Name: "string"
                }
            ]


## Clear Pending Install [/package/{packageId}/web/clearPendingInstall]

### Clear Pending Install [GET]



```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/clearPendingInstall");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)




## Contacts [/package/{packageId}/domain/{domainId}/contacts]

### Retrieve Contacts for a Domain Name [GET]

Returns the current contacts for the domain name. This is a map of
contact types to contact data, in EPP format.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/contacts");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    (contact-type):{
                        id: "string",
                        roid: "string",
                        clID: "string",
                        crID: "string",
                        crDate: "string",
                        trID: "string",
                        trDate: "string",
                        upID: "string",
                        upDate: "string",
                        status:{
                            -s: "string",
                            s: "string"
                        },
                        postalInfo:{
                            -type: "string",
                            type: "string",
                            name: "string",
                            org: "string",
                            addr:{
                                street: ["string"],
                                city: "string",
                                sp: "string",
                                pc: "string",
                                cc: "string"
                            }
                        },
                        voice: "string",
                        fax: "string",
                        email: "string",
                        disclose:{
                            -flag: true,
                            name:{
                                -type: "string"
                            },
                            org:{
                                -type: "string"
                            },
                            addr:{
                                -type: "string"
                            },
                            voice: NULL?FIXME,
                            fax: NULL?FIXME,
                            email: NULL?FIXME
                        },
                        extension:{
                            dateToSuspend: "string",
                            trad-name: "string",
                            type: "string",
                            co-no: "string",
                            opt-out: "string",
                            privacy: "string",
                            status: "string"
                        }
                    }
                }
            


### Set Domain Contacts [POST]

Sets the contacts for the domain. This is a map of contact types to
contact data, in EPP format.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/contacts", [
            "(contact-type)" => []
    ]);
```
+ Parameters

[...]
